@charset "shift_jis";


/*------------------------------------------------------------
##############################################################
¡ container
##############################################################
------------------------------------------------------------*/
#container {
}

/*------------------------------------------------------------
##############################################################
¡ iframe
##############################################################
------------------------------------------------------------*/
body.iframe_block {
	background-color:#fff;
	padding: 0;
	margin: 0;
}
body#recipe_entry.iframe_block #contents #recipe_entry_form td {
	padding-bottom:0px;
}

/*------------------------------------------------------------
##############################################################
¡ header
##############################################################
------------------------------------------------------------*/
#header {
	margin:0 4% 15px;
}
#top #header {
	margin-bottom:0;
}
#header #header_upper_block {
	margin-bottom: 11px;
}
#header h1 {
	width: 48.9855%;
	max-height: 52px;
	padding-top: 5px;
	float:left;
}
#header h1 img {
	height: auto;
	max-height: 52px;
}
#header nav {
	width: 114px;
	float:right;
}
#header nav > ul > li {
	width: 57px;
	height: 57px;
	color: #fff;
	float:left;
	font-size:10px;
}
#header nav li#menu {
	text-align: center;
	background: #fb8d23;
	position: relative;
}
#header nav li#menu #menu_btn {
	width: 100%;
	font-weight: bold;
	background-color: #fb8d23;
	padding-top: 8px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
#header nav li#menu #menu_elm,
#smt_menu_block {
	display: none;
}
#smt_menu_block {
	width: 92%;
	background-color: #fb8d23;
	position: absolute;
	top: 57px;
	right: 4%;
}
#smt_menu_block .outer > li {
	border-bottom: 1px solid #fcb570;
}
#smt_menu_block a,
#smt_menu_block li.accordion > span {
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	background: url(../images/arrow_05.png) no-repeat 15px 1em;
	background-size: 8px 14px;
	display: block;
	padding: 12px 13px 13px 33px;
}
#smt_menu_block a .link_pc::after {
	width: 22px;
	height: 18px;
	content: '@';
	vertical-align: middle;
	background: url(../images/icon_pc_03.png) no-repeat center bottom;
	background-size: 22px 18px;
	display: inline-block;
	margin-left: 5px;
}
#smt_menu_block li.accordion > span {
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	background: url(../images/icon_accordion.png) no-repeat 15px 1em;
	background-size: 13px;
	display: block;
	padding: 12px 13px 13px 33px;
}
#smt_menu_block li.accordion.on > span {
	background-image: url(../images/icon_accordion_on.png);
}
#smt_menu_block li .inner {
	background-color: #fca44f;
	display: none;
}
#smt_menu_block li .inner li {
	border-top: 1px solid #fcb570;
}
#smt_menu_block #menu_text {
	color: #4e3215;
	background-color: #fee2c8;
	padding: 13px 15px 12px;
	margin: 10px;
}
#header nav li a {
	/*width:54px;
	height:17px;*/
	display:block;
	/*padding-top:29px;*/
	text-decoration:none;
}
#header nav li img {
	width: auto;
	max-width: 100%;
}

#header #header_text {
	margin-bottom:5px;
	padding:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fdb947),to(#f6920f));
	border: 1px solid #cd880f;
	-webkit-box-shadow:inset 0 0 0 1px rgba(254,211,140,1);
	box-shadow:inset 0 0 0 1px rgba(254,211,140,1);
	color:#fff;
	text-align:center;
}

#header #search_block {
}
#header #search_block ul {
	margin:5px 0 10px;
	padding:0 10px;
}
#header #search_block li {
	float:left;
	margin-right:10px;
}
#header #search_block li:last-child {
	margin-right:0;
}
#header #search_block form {
	position:relative;
}
#header #search_block .search_text_box {
	padding-right:70px;
	border:1px solid #cfc3ad;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color:#fff;
	margin-bottom: 11px;
}
#header #search_block .search_text_box input {
	width:100%;
	border:none;
	margin:1px;
	padding:5px;
	height:28px;
	font-size:16px;
}
#header #search_block button {
	position:absolute;
	right:2px;
	top:2px;
	width:53px;
	height:38px;
	border:none;
	background:url(/smt/shared/images/btn_search.png) left top no-repeat;
	-webkit-background-size:contain;
	background-size:contain;
	text-indent:-9999em;
}

/*------------------------------------------------------------
##############################################################
¡ contents
##############################################################
------------------------------------------------------------*/

.button {
	border: 1px solid #cd880f;
	border-radius: 5px;
	background: linear-gradient(#febb49, #f5900c);
}

.button a {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border: 1px solid #fed48d;
	background: url(../images/arrow_02.png) no-repeat right center;
	background-size: 18px 13px;
	display: block;
	padding: 11px 0 10px;
}

#search_button.button {
	display: none;
	margin: 0 auto 15px;
}

#contents #search_block_btm {
	margin:0 10px 10px;
}
#contents #search_block_btm form {
	position:relative;
}
#contents #search_block_btm .search_text_box {
	padding-right:70px;
	border:1px solid #cfc3ad;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color:#fff;
}
#contents #search_block_btm .search_text_box input {
	width:100%;
	border:none;
	margin:1px;
	padding:5px;
	height:28px;
	font-size:16px;
}
#contents #search_block_btm button {
	position:absolute;
	right:2px;
	top:2px;
	width:53px;
	height:38px;
	border:none;
	background:url(/smt/shared/images/btn_search.png) left top no-repeat;
	-webkit-background-size:contain;
	background-size:contain;
	text-indent:-9999em;
}

#contents #pagenate {
	position:relative;
	margin-bottom:10px;
	padding:10px 0;
	border-top:1px solid #cfc3ad;
	background-color:#e7ddc2;
}
#contents #pagenate #prev_link,
#contents #pagenate #next_link {
	position:absolute;
	left:0;
	top:12px;
}
#contents #pagenate #next_link {
	right:0;
	left:auto;
}
#contents #pagenate #page {
	text-align:center;
	color:#4e3215;
}

#contents #login_info {
	margin:0 10px 10px;
}
#contents #login_info li {
	text-align:center;
	margin-bottom:5px;
}
#contents #login_info li a {
	text-align:center;
	padding-right:20px;
	background:url(/smt/shared/images/icon_blank.png) right center no-repeat;
	background-size:14px 12px;
}


#contents p.btn {
	margin-bottom:10px;
	background:-webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#f5f2ed));
	border:1px solid #cfc3ad;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#contents p.btn a {
	padding:10px 10px 10px 30px;
	display:block;
	background:url(/smt/shared/images/arrow_04.png) 10px center no-repeat;
	background-size:13px;
	color:#633100;
	text-decoration:none;
	text-align:center;
	line-height:1.2;
}

#contents p.btn_02 {
	padding-left:5px;
	background:-webkit-gradient(linear, left top, left bottom, from(#9ec647),to(#9ec647));
	-webkit-box-shadow: 0 1px 0 0 rgba(123,150,63,1), inset 0 1px 0 0 rgba(210,229,171,1);
	box-shadow: 0 1px 0 0 rgba(123,150,63,1), inset 0 1px 0 0 rgba(210,229,171,1);
	border: 1px solid #9ec647;
	-webkit-border-radius: 5p;
	border-radius: 5px;
	color:#fff;
	font-size:16px;
}
#contents p.btn_02 a {
	display:block;
	padding:7px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	background:url(/smt/shared/images/arrow_02.png) right center no-repeat;
	background-size:18px 13px;
	line-height:1.2;
}


#contents .regist_btn label {
	display:block;
	padding-left:5px;
	background:url(/smt/shared/images/arrow_02.png) right center no-repeat,-webkit-gradient(linear, left top, left bottom, from(#9ec647),to(#9ec647));
	background-size:18px 13px;
	-webkit-box-shadow: 0 1px 0 0 rgba(123,150,63,1), inset 0 1px 0 0 rgba(210,229,171,1);
	box-shadow: 0 1px 0 0 rgba(123,150,63,1), inset 0 1px 0 0 rgba(210,229,171,1);
	border: 1px solid #9ec647;
	-webkit-border-radius: 5p;
	border-radius: 5px;
	color:#fff;
}
#contents .regist_btn input {
	width:100%;
	border:none;
	height:28px;
	display:block;
	padding:7px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	font-size:16px;
	line-height:16px;
	background:none;
}

/*------------------------------------------------------------
##############################################################
¡ footer
##############################################################
------------------------------------------------------------*/
#footer {
	margin-top: 30px;
}
#footer .pagetop {
	margin:0 10px;
	float:right;
	padding-left:20px;
	background:url(/smt/shared/images/icon_pagetop.gif) left center no-repeat;
	background-size:19px;
}
#footer nav {
	margin:0 10px;
	clear:both;
}
#footer nav ul {
	padding:10px 0;
	text-align:center;
}
#footer nav li {
	display:inline-block;
	margin-bottom:5px;
	padding:0 5px;
}
#footer nav li+li {
	border-left:1px solid #ab7943;
}
#footer nav li a[target="_blank"] {
	padding-right:20px;
	background:url(/smt/shared/images/icon_blank.png) right center no-repeat;
	background-size:14px 12px;
}
#footer #footer_btm {
	padding:5px 15px;
	border-top:3px solid #fbc590;
	text-align:center;
}
#footer #footer_btm p {
	margin-bottom:5px;
}





/*------------------------------------------------------------
##############################################################
¡ Header menu
##############################################################
------------------------------------------------------------*/
.tcon {
	appearance: none;
	border: none;
	/*cursor: pointer;*/
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 17px;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 20px;
	background: transparent;
	outline: none;
	padding: 0;
	margin: 4px auto 0;
	display: block;
}
.tcon > * {
	display: block;
}
.tcon:hover, .tcon:focus {
	outline: none;
}
.tcon::-moz-focus-inner {
	border: 0;
}

.tcon-menu__lines {
	display: inline-block;
	height: 3px;
	width: 20px;
	border-radius: 3px;
	transition: 0.3s;
	background: #fff;
	position: relative;
}
.tcon-menu__lines::before, .tcon-menu__lines::after {
	display: inline-block;
	height: 3px;
	width: 20px;
	border-radius: 3px;
	transition: 0.3s;
	background: #fff;
	content: '';
	position: absolute;
	left: 0;
	-webkit-transform-origin: 3px center;
	transform-origin: 3px center;
	width: 100%;
}
.tcon-menu__lines::before {
	top: 7px;
}
.tcon-menu__lines::after {
	top: -7px;
}
.tcon-transform .tcon-menu__lines {
	-webkit-transform: scale3d(.8, .8, .8);
	transform: scale3d(.8, .8, .8);
}

.tcon-menu--xcross {
	width: auto;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
	background: transparent;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	top: 0;
	width: 20px;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

